.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
wp-admin/
wp-config.php
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/uploads/*
wp-content/plugins/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
*.log
wp-content/cache/
wp-content/backups/
wp-includes/
library/images/*
sitemap.xml
sitemap.xml.gz
.htaccess
