body {
  padding-top: 51px; }

.navbar .navbar-brand {
  width: 170px;
  height: 51px;
  background: url("../images/logo-2x.png") center center no-repeat;
  background-size: 170px 36px;
  text-indent: -9999px; }
.navbar .navbar-nav {
  float: right; }
.navbar .navbar-nav li a {
  color: white;
  -webkit-font-smoothing: antialiased; }
  .navbar .navbar-nav li a:hover {
    background: rgba(0, 0, 0, 0.1); }
.navbar .navbar-nav li.active a {
  background: rgba(0, 0, 0, 0.1); }
  .navbar .navbar-nav li.active a:hover {
    background: rgba(0, 0, 0, 0.2); }

.navbar-inverse {
  background: #974c73;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); }

.content {
  padding: 10px 0 10px 0; }

#hero {
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  #hero .carousel .item {
    height: 480px; }
    #hero .carousel .item.slide1 {
      background: url("../images/yoga3.jpg") 50% 50% no-repeat;
      background-size: cover; }
    #hero .carousel .item.slide2 {
      background: url("../images/yoga4.jpg") 50% 50% no-repeat;
      background-size: cover; }
    #hero .carousel .item .carousel-caption {
      left: 0;
      right: 0;
      top: 50%;
      margin-top: -24px;
      padding: 0;
      bottom: auto;
      z-index: 3; }
      #hero .carousel .item .carousel-caption h1 {
        font-size: 48px;
        margin: 0;
        padding: 0;
        text-shadow: none; }
  #hero .carousel .carousel-control {
    z-index: 4; }
  #hero .carousel .item {
    left: 0 !important;
    transition: opacity 0.4s ease-in-out; }
  #hero .carousel .carousel-control {
    background-image: none; }
  #hero .carousel .next.left, #hero .carousel .prev.right {
    opacity: 1;
    z-index: 1; }
  #hero .carousel .active.left, #hero .carousel .active.right {
    opacity: 0;
    z-index: 2; }

.col-md-4 {
  text-align: center; }

#yoga {
  width: 200px;
  height: 300px;
  background: url("../images/yoga2.jpg") center center no-repeat;
  background-size: 200px 300px; }

#matPilates {
  width: 300px;
  height: 221px;
  background: url("../images/matPilates.png") center center no-repeat;
  background-size: 300px 221px; }

#taeboFitness {
  width: 300px;
  height: 223px;
  background: url("../images/taeboFitness.png") center center no-repeat;
  background-size: 300px 223px; }

#yogaBarre {
  width: 300px;
  height: 209px;
  background: url("../images/yogaBarre.png") center center no-repeat;
  background-size: 300px 209px; }

#kids {
  width: 300px;
  height: 198px;
  background: url("../images/kids.png") center center no-repeat;
  background-size: 300px 198px; }

@media screen and (min-width: 1200px) {
  .container {
    width: 970px; } }
