//BRAND COLORS
$darkPurple: #683655
$purple: #974C73
$lilac: #BE91A8
$lightGrey: #B3A9AF
$darkGrey: #3F3C3E
$white: #FFFFFF

body
	padding-top: 51px

// HEADER
.navbar
	.navbar-brand
		width: 170px
		height: 51px
		background: url('../images/logo-2x.png') center center no-repeat
		background-size: 170px 36px
		text-indent: -9999px
	.navbar-nav
		float: right
	.navbar-nav
		li
			a
				color: $white
				-webkit-font-smoothing: antialiased
				&:hover
					background: rgba(0, 0, 0, .1)
			&.active
				a
					background: rgba(0, 0, 0, .1)
					&:hover
						background: rgba(0, 0, 0, .2)

.navbar-inverse
	background: $purple
	border-bottom: 1px solid rgba(0, 0, 0, .2)
	box-shadow: 0px 1px 4px rgba(0, 0, 0, .25)
.content
	padding: 10px 0 10px 0

// HERO
#hero
	height: 420px
	background: url('../images/cover-photo.jpg') 47% 53% no-repeat
	background-size: 840px 503px
	text-align: center

h3.tag 
	position: absolute
	color: $purple
	left: 0
	right: 0
	top: 380px
	padding: 0
	bottom: auto
	font-weight: light
	-webkit-font-smoothing: antialiased

.info 
	text-align: center

	/*.carousel
		.item
			height: 480px
			.curtain
				display: block
				position: absolute
				background: rgba(0, 0, 0, .4)
				top: 0
				left: 0
				right: 0
				bottom: 0
				z-index: 2
			&.slide1
				background: url('../images/yoga3.jpg') 50% 50% no-repeat
				background-size: cover
			&.slide2
				background: url('../images/yoga4.jpg') 50% 50% no-repeat
				background-size: cover
			.carousel-caption
				left: 0
				right: 0
				top: 50%
				margin-top: -24px
				padding: 0
				bottom: auto
				z-index: 3
				h1
					font-size: 48px
					margin: 0
					padding: 0
					text-shadow: none
		.carousel-control
			z-index: 4
		.item
			left: 0 !important
			transition: opacity .4s ease-in-out
		.carousel-control
			background-image: none
		.next.left, .prev.right
			opacity: 1
			z-index: 1
		.active.left, .active.right
			opacity: 0
			z-index: 2 */

// Services
.col-md-4
	text-align: center
#yoga
	width: 200px
	height: 300px
	background: url('../images/yoga2.jpg') center center no-repeat
	background-size: 200px 300px

#matPilates
	width: 300px
	height: 221px
	background: url('../images/matPilates.png') center center no-repeat
	background-size: 300px 221px

#taeboFitness
	width: 300px
	height: 223px
	background: url('../images/taeboFitness.png') center center no-repeat
	background-size: 300px 223px

#yogaBarre
	width: 300px
	height: 209px
	background: url('../images/yogaBarre.png') center center no-repeat
	background-size: 300px 209px

#kids
	width: 300px
	height: 198px
	background: url('../images/kids.png') center center no-repeat
	background-size: 300px 198px


	
// Media Queries
@media screen and (min-width: 1200px)
	.container
		width: 970px