//BRAND COLORS
$darkPurple: #683655
$purple: #974C73
$lilac: #BE91A8
$lightGrey: #B3A9AF
$darkGrey: #3F3C3E

body
	padding-top: 51px
.navbar-brand
	background-size: 227px 48px
.navbar-inverse
	background: rgba(0, 0, 0, .35)
#services, #social 
	padding: 10px 0 10px 0