//BRAND COLORS
$darkPurple: #683655
$purple: #974C73
$lilac: #BE91A8
$lightGrey: #B3A9AF
$darkGrey: #3F3C3E
$white: #FFFFFF

.btn-primary
	background: $purple
	border: 1px solid rgba(0, 0, 0, .2)
	border-radius: 3px
	font-weight: 300
	-webkit-font-smoothing: antialiased
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .18), 0 1px 4px rgba(0, 0, 0, .15)
	&:hover
		background: darken($purple, 10%)

body
	padding-top: 71px
	background-color: lighten($lightGrey, 50%)
	color: $darkGrey
	font-family: 'Roboto', sans-serif
	-webkit-font-smoothing: antialiased
 
a
	color: $purple

.center
	text-align: center

// HEADER
.navbar
	.navbar-toggle
		border: none
		margin-top: 11px
		border-radius: 2px
		&:hover, &:active
			background: rgba(0, 0, 0, .1)
			outline: none
		&:focus
			outline: none
			background: transparent
		.icon-bar
			height: 3px
			border-radius: 0
	.navbar-brand
		width: 190px
		height: 60px
		background: url('../images/logo-2x.png') center 14px no-repeat
		background-size: 170px 36px
		text-indent: -9999px
		&:hover
			background-color: rgba(0, 0, 0, .1)
	.navbar-nav
		float: right
	.navbar-nav
		li
			a
				color: rgba(255, 255, 255, .78)
				-webkit-font-smoothing: antialiased
				padding: 20px 16px
				font-size: 16px
				font-weight: 300
				&:hover
					background: rgba(0, 0, 0, .1)
			&.active
				a
					background: rgba(0, 0, 0, .1)
					&:hover
						background: rgba(0, 0, 0, .2)

.navbar-inverse
	background: $purple
	border-bottom: 1px solid rgba(0, 0, 0, .2)
	box-shadow: 0px 1px 4px rgba(0, 0, 0, .25)
.content
	padding: 10px 0 10px 0

// HERO
#hero
	position: relative
	height: 540px
	background: url('../images/cover-photo.jpg') center 100px no-repeat
	background-size: 840px 503px
	text-align: center
	h1
		font-size: 42px
		margin: 20px 0 0
		font-family: 'Niconne', sans-serif
	h2
		font-weight: normal
		font-size: 19px
		line-height: 1.4
		margin: 10px 0
		font-family: 'Ruluko', sans-serif
	p
		position: absolute
		bottom: 10px
		left: 0
		right: 0
		margin: 0
	.btn-primary
		padding: 10px 30px 12px
		font-size: 18px


h3.tag 
	position: absolute
	color: $purple
	left: 0
	right: 0
	top: 380px
	padding: 0
	bottom: auto
	font-weight: light
	-webkit-font-smoothing: antialiased

#classes
	padding: 40px 0


.info 
	text-align: center
	color: $purple
	font-size: 1.5em
	font-weight: medium
	-webkit-font-smoothing: antialiased
.sub-head 
	margin: 10px 0

.sec-hdr-h3
	color: $purple
	display: inline-block

.class-title-link
	a
		display: block
		margin: 0
		padding: 10px
		background: $purple
		color: $white
		-webkit-font-smoothing: antialiased

//  BUTTON

.register 
	background-color: $lilac
	border-color: $purple
	margin-left: 50px
	&:hover
		background-color: $purple

.col-md-4
	text-align: center
	margin-top: 20px

.class-title
	text-align: center
	color: $purple
	font-size: 1.2em
	margin: 10px 
	-webkit-font-smoothing: antialiased

#yoga
	width: 293px
	height: 209px
	background: url('../images/yoga-home.jpg') center center no-repeat
	background-size: cover

#matPilates
	width: 293px
	height: 209px
	background: url('../images/matPilates-home.jpg') center center no-repeat
	background-size: cover

#trx
	width: 293px
	height: 209px
	background: url('../images/trx-home.jpg') center center no-repeat
	background-size: cover

#taeboFitness
	width: 293px
	height: 209px
	background: url('../images/taebo-home.jpg') center center no-repeat
	background-size: cover

#yogaBarre
	width: 293px
	height: 209px
	background: url('../images/yogaBarre-home.png') center center no-repeat
	background-size: cover

#kids
	width: 293px
	height: 209px
	background: url('../images/Kids-Fitness-home.jpg') center center no-repeat
	background-size: cover

//PAGE CONTENT

h1.page-title
	font-family: 'Niconne'
	font-size: 40px

#content
	margin-top: 2.5em

.entry-content
	img
		margin: 0px 10px 10px 0
		float: left
	h2
		font-family: 'Niconne'
		font-size: 32px
	h3
		font-size: 18px

.archive-title, .entry-title, .page-title
	color: $purple
	margin-top: 0

.page-title, .entry-title, .archive-title, .posts-title, .excerpt-read-more
	a
		color: $purple
		margin-top: 0

.list
	margin-left: 38px

.rules
	li
		margin-bottom: 8px

// SIDEBAR

.sidebar 
	border: none
	background: #f9f9f9
	padding-left: 0
	padding-right: 0
	.widget
		font-family: 'Ruluko'
		.btn
			margin: 20px 0
			font-size: 16px
			padding: 8px 32px
		.widgettitle
			font-family: 'Niconne'
			font-size: 28px
			display: block
			color: $darkGrey
			background: #f0f0f0
			text-align: center
			padding: 10px 15px
			margin-top: 0
		ul
			overflow: auto
			padding: 0
			margin: 0
			list-style-type: none
			li
				float: left
				width: 50%
				text-align: center
				padding: 8px 10px
				a
					color: $darkPurple
					font-size: 16px

// FOOTER

.footer
	background: $darkGrey
	text-align: center
	padding: 10px 0 10px

.source-org
	display: inline-block
	color: $lightGrey
	margin: 10px 0 0 0

.footer-nav
	display: inline-block
	float: none
	margin-bottom: 10px
	margin-left: 0px
	margin-right: 0px

.footer-nav
	ul
		margin: 0

.footer-nav
	li
		a
			padding-left: 15px
			color: $lightGrey
			-webkit-font-smoothing: antialiased
			&:hover
				text-decoration: none
				color: $lightGrey

// SOCIAL
.social
	margin-left: -40px
	margin-top: 20px

.social
	li
		display: inline

.social
	li
		a
			display: inline-block
			padding: 0
			margin: 0 15px 
			width: 20px
			height: 20px


.icon
	display: inline-block
	width: 20px
	height: 20px
	vertical-align: baseline

.facebook
	width: 20px
	height: 20px
	background: url('../images/facebook.png') center center no-repeat
	background-size: cover
	float: left

.instagram
	width: 20px
	height: 20px
	background: url('../images/instagram.png') center center no-repeat
	background-size: cover

.twitter
	width: 20px
	height: 20px
	background: url('../images/twitter.png') center center no-repeat
	background-size: cover

			
	
// MEDIA QUERIES
@media screen and (max-width: 480px)
	.navbar
		.navbar-collapse
			border-color: rgba(0, 0, 0, .15)
			.navbar-nav
				margin: 10px 0
				display: block
				width: 100%
				li
					float: left
					text-align: center
					width: 50%
					&:last-child
						// width: 100%
						// display: block
					a
						padding: 12px 24px
@media screen and (min-width: 1200px)
	.container
		width: 970px